body {	
  margin: 0;
  padding: 0;
  background: rgb(230,230,230);
  
  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}
.timeline:before {
  position: absolute;
  left: 8.6%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}
.timeline li {
  padding: 0;
}
.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.direction-r {
  position: relative;
  /* width: 400px; */
  width: 500px;
  /* float: right; */
  margin-left: 10%;

}
.flag-wrapper {
  position: relative;
  /* display: inline-block; */
  display: inline;
  
  text-align: center;
}
.flag {
  position: relative;
  /* display: inline; */
  display: inline-block;
  background: rgb(248,248,248);
  padding: 3px 10px 0;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -65px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}
.direction-r .flag:before {
  left: -40px;
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}
.time-wrapper {
  display: inline-block;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}
.direction-r .time-wrapper {
  float: right;
}
.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}
.time:before {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}
.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.65em;
  font-style: italic;
  line-height: 1.2em;
}
.desc span:first-of-type{
  color: red;
  margin-left: 5px;
}
.direction-r .desc {
  margin:  0 1em 0.5em;
}
.footer {
  width: 100%;
  height: 10px;
  background-color: rgb(248,248,248);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: .5rem;
}
/* .footer-r {
  font-size: .7rem;
  padding: 0;
  margin: 0 1rem 0;
  float: right;
}
.footer-l {
  font-size: .7rem;
  padding: 0;
  margin: 0 1rem 0;
  float: left;
} */
.bulle-r {
  text-align: center;
  line-height: 1rem;
}
.bulle-l {
  margin-right: 20px;
}
.bulle-r span:first-of-type {
  color: black;
  font-weight: 200;
  margin-right: 5px;
}

.bulle-r span:nth-of-type(3n) {
  color: black;
  font-weight: 200;
  margin-left: 5px;
}

.bulle-r span:nth-of-type(4n) {
  color: blue;
  font-weight: 200;
  margin-left: 5px;
  font-size: 0.9rem;
}
.field {
  font-size: 0.8rem;
}
.field-l {
  color: #000080;
  text-decoration: underline;
}
.field-r {
  color: #000080;
  float: right;
  font-weight: 600;
}
.accordion-content hr {
  color: #000080;
  width: 200px;
  padding: 0;
  margin-bottom: 0;
}


/* ======================== Accordion====================== */
.container {
  width: 100%;
  max-width: 820px;
  margin: 50px auto;
}
button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 5px 20px 5px;
  font-size: 15px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
button.accordion:after {
  font-size: 14px;
  float: right;
}
button.accordion:hover, button.accordion.is-open {
  background-color: #ddd;
}
.accordion-content {
  padding: 0 10px;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.accordion.is-open .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}
.accordion:hover .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}
